div.content {
    background-color: #fff;
    position: relative;
    min-height: 50vh;
    border-radius: 4px;
}

.info-box {
    position: static;
    margin: 32px;
    top: 32px;
}

.footer {
    position: fixed;
    margin: 0 auto !important;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-color: #ddd;
}

.footer-box {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1080px;
    width: 100%;
    background: #fff;
}